<div>
    <br>
    <div class="testimonial-img text-center my-3">
        <div class="image">
            <img src="./media/safe.png" alt="portfolio">
        </div>
        <span> Portfolio</span>
        <div class="row">
            {{#each projects}}
            <div class="col-md-4 col-sm-12 portfolioBox my-2">
                <div class="imgContent">
                    <img class="portfolioImg" src="image/{{imgName}}" alt="{{headline}}">
                    <div class="textContent">
                        <div class="text">
                            <h2 class = "translate">{{headline}}</h2>
                            <p class = "translate">{{desc}}</p>

                            <a href="{{githubLink}}" target="_blank">
                                <img class = "translate" src="./media/github.png" alt="github" width="100px" height="30px"/>
                            </a>
                            {{#if herokuLink}}
                            <a href="{{herokuLink}}" target="_blank">
                                <img class = "translate" src="./media/heroku.png" alt="heroku" width="100px" height="30px" />
                            </a>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>